<header>
    <h1>Nombre de tu Sitio</h1>
    <nav>
        <ul>
            <li><a href="/web/personas">Personas</a></li>
            <li><a href="/web/aulas">Aulas</a></li>
            <li><a href="/web/carreras">Carreras</a></li>
            <li><a href="/web/cursos">Cursos</a></li>
            <li><a href="/web/grupos">Grupos</a></li>
            <li><a href="/web/horarios">Horarios</a></li>
            <li><a href="/web/horariosPersonas">Horarios Personas</a></li>
        </ul>
    </nav>
</header>