<header style="background-color: #333; color: #fff; padding: 10px; text-align: center;">
    <h1><%= titulo %></h1>
    <nav>
        <ul style="list-style: none; margin: 0; padding: 0; display: flex; justify-content: center;">
            <li style="margin: 0 15px;"><a href="/web/personas" style="text-decoration: none; color: #fff; font-weight: bold;">Personas</a></li>
            <li style="margin: 0 15px;"><a href="/web/aulas" style="text-decoration: none; color: #fff; font-weight: bold;">Aulas</a></li>
            <li style="margin: 0 15px;"><a href="/web/carreras" style="text-decoration: none; color: #fff; font-weight: bold;">Carreras</a></li>
            <li style="margin: 0 15px;"><a href="/web/cursos" style="text-decoration: none; color: #fff; font-weight: bold;">Cursos</a></li>
            <li style="margin: 0 15px;"><a href="/web/grupos" style="text-decoration: none; color: #fff; font-weight: bold;">Grupos</a></li>
            <li style="margin: 0 15px;"><a href="/web/horarios" style="text-decoration: none; color: #fff; font-weight: bold;">Horarios</a></li>
            <li style="margin: 0 15px;"><a href="/web/horariosPersonas" style="text-decoration: none; color: #fff; font-weight: bold;">Horarios Personas</a></li>
        </ul>
    </nav>
</header>