<!-- details.ejs -->

<h2>Detalles del Aula</h2>
<p><strong>ID:</strong> <%= data._id %></p>
<p><strong>Nombre:</strong> <%= data.name %></p>
<p><strong>Descripcion:</strong> <%= data.descripcion %></p>
<img src="<%= data.Codigo %>" alt="Imagen del Aula">
